@import url(../../global/global.css);

header {
    padding: 6px 0px  24px 0px;
}


body {
    background-color: var(--color-neutral-10);
    color: var(--color-neutral-60);
    display: flex;
    flex-direction: column;
    align-items: center;
}

a {
    text-decoration: none;
    font-size: 12px;
    color: var(--color-link);
}

a:hover {
    text-decoration: underline;
}

#logo {
    width: 150px;
    height: 150px;
}

#container {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

#title {
    font-size: 24px;
    font-weight: 300;
    letter-spacing: -0.5px;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    background-color: var(--color-neutral-20);
    border-radius: 18px;
    padding: 16px;
    border: 1px solid var(--color-neutral-30);
}

.input-field {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.input-field div {
    display: flex;
    justify-content: space-between;
}

.input-field label {
    font-weight: 400;
}

#forgot-password:hover {
    text-decoration: none;
}

.form-control {
    all: unset;
    padding: 5px 12px;
    line-height: 20px;
    color: var(--color-neutral-60);
    background-color: var(--color-neutral-10);
    border: 1px solid var(--color-neutral-40);
    border-radius: 18px;
    vertical-align: middle;
    box-shadow: none;
}

.form-control:focus-visible, form-select:focus-visible {
    border-color: var(--color-link);
    outline: none;
}

.form-control:-webkit-autofill {
    box-shadow: inset 0 0 0 32px var(--color-neutral-10) !important;
    -webkit-text-fill-color: var(--color-neutral-60);
}

#submit_button {
    background-color: var(--color-button);
    color: var(--color-neutral-70);
    border: 1px solid rgba(240, 246, 252, 0.1);
    display: inline-block;
    padding: 5px 16px;
    font-weight: 500;
    line-height: 20px;
    cursor: pointer;
    border-radius: 18px;
    transition: background-color 80ms;
}

#submit_button:hover {
    background-color: var(--color-button-hover);
}

#login_callout {
    padding: 0.1rem 0.5rem;
    text-align: center;
    background-color: var(--color-neutral-10);
    border: 1px solid var(--color-neutral-40);
    border-radius: 18px;
}

#login_callout a {
    font-size: 12px;
}

footer {
    padding: 25px;
}

footer ul {
    display: flex;
    gap: 16px;
    list-style: none;
}

footer ul li:last-child a {
    color: var(--color-neutral-70);
}

footer ul li:last-child a:hover {
    color: var(--color-link);
}

footer p {
    color: var(--color-neutral-80);
    font-size: 10px;
    padding: 0.3rem;
    text-align: center;
}